<%@ page pageEncoding="UTF-8" %>
<table width="100%" bgcolor="#dddddd">
    <tr>
    <td><span style="font-size: 1.3em;">Employer Name: <label class="employer_header_employerName" >${sessionScope.EmployerName}</label></span></td>
    <td><span style="font-size: 1.3em;">Employer Number: <label class="employer_header_employerNumber">${sessionScope.EmployerNumber}</label></span></td>
    <td><label ></label></td>
    </tr>
</table>
<hr style="height:5pt; visibility:hidden;" />
