a.trigger {
  color: #000000;
  text-decoration: none;
  position: absolute;
  margin-left: -5px;
  z-index: 13;
}

div.profile {
  width: 20px;
  height: 20px;
  text-align: center;
  float: left;
  margin: 2px 2px 2px 2px;
}

span.name {
  display: block;
  padding-top: 5px;
}

/* HOVER STYLES */
div.pop-up {
  display: none;
  position: absolute !important;
  margin-left: 15px;
  width: 300px !important;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
  z-index: 12;
}

div.clear {
  clear: both;
}