ol#tabs { list-style-type: none; margin: 10px 0 0 0; padding: 0 0 0.3em 0; white-space: normal;}
ol#tabs.hide {visibility:hidden; }
ol#tabs li { font-family: Arial, Helvetica, sans-serif;display: inline; white-space: nowrap; font-size: 11px;}
ol#tabs li a { color: #42454a; background-color: #dedbde; border: 1px solid #c9c3ba;border-bottom: none;  padding: 0.3em 0.3em 0.38em 0.3em; text-decoration: none; }
ol#tabs li a:hover { background-color: #f1f0ee; }
ol#tabs li a.selected { color: #000; background-color: #f1f0ee; font-weight: bold; padding: 0.7em 0.3em 0.38em 0.3em; }
div.tabContent { border: 1px solid #c9c3ba; padding: 0.5em; background-color: #FFFFFF; }
div.tabContent.hide { display: none; }
fieldset {border-style: none; border-top: 1px solid #BFBAB0;}
table.hide {display:none;}

div#tabTableLayout{ margin: 20px; } 
div#tabTableLayout table { padding: 10px 15px 10px 15px; } 
div#tabTableLayout input[type='button'],[type='reset'] { padding: 1px 8px 1px 8px; }
div#tabTableLayout button { padding: 1px 8px 1px 8px; }
div#tabTableLayout input[type='text'] { margin-top: 2px; margin-bottom: 2px;}
div#tabTableLayout select { margin-top: 2px; margin-bottom: 2px;}

.search-div{ background-color: #fff;  position: fixed;  top: 0px;  left: 0px; width: 100%; height: 100%;  z-index: 10000; }
.search-div.hide {display:none;}

.header_area { position: fixed; top: 0; left: 8px; right: 8px; z-index: 999;background: #fff;}
.content_area {position: relative; margin-top: 100px; }

.neonotification {
    color:#555;
    padding:10px 36px;
    margin: 10px;
    border-radius: 10px;
    position: fixed;
    right: 10px;
    left:10px;
    top: 1px;
}

.neonotificationnormal {
    color:#555;
    padding:10px 36px;
    margin: 10px;
    border-radius: 10px;
    right: 10px;
    left:10px;
    top: 1px;
}
.neonotification span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.neonotificationnormal span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.neonotificationerror {
    background: #ffecec url('/ManagedCare/resources/error.png') no-repeat 10px 50%;
    border: 1px solid #f5aca6;
}
.neonotificationsuccess {
    background: #e9ffd9 url('/ManagedCare/resources/success.png') no-repeat 10px 50%;
    border: 1px solid #a6ca8a;
}
.neonotificationwarning {
    background: #fff8c4 url('/ManagedCare/resources/warning.png') no-repeat 10px 50%;
    border: 1px solid #f2c779;
}
.neonotificationnotice{
    background: #e3f7fc url('/ManagedCare/resources/notice.png') no-repeat 10px 50%;
    border: 1px solid #8ed9f6;
}

.neopanel, .neopanelcollapsed {
    background: #eee;
    margin: 5px;
    padding: 0px 0px 5px;
    border: 1px solid #999;    
}

.neooptionpanel, .neooptionpanelcollapsed {
    background: #eee;
    margin: 5px;
    padding: 0px 0px 5px;
    border: 1px solid #999;    
}

.neopanel h2, .neopanelcollapsed h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-weight:bold;
    color: #FFFFFF;
    margin: 0px;
    padding: 4px;
    background: #660000 url(arrow-up.gif) no-repeat right;
    border-bottom: 1px solid #999;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;    
}    

.neooptionpanel h2, .neooptionpanelcollapsed h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-weight:bold;
    color: #FFFFFF;
    margin: 0px;
    padding: 4px;
    background: #6cc24a url(optionPanel_up.gif) no-repeat right;
    border-bottom: 1px solid #999;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;    
}    

.neopanel h2:hover, .neopanelcollapsed h2:hover { background-color: #A9BCEF; }
.neooptionpanel h2:hover, .neooptionpanelcollapsed h2:hover { background-color: #A9BCEF; }

.neopanelcollapsed h2 {
    background: #660000 url(arrow-dn.gif) no-repeat right;
    border-color: #CCC;
}

.neooptionpanelcollapsed h2 {
    background: #6cc24a url(optionPanel_dn.gif) no-repeat right;
    border-color: #CCC;
}

.neopanelcontent { 
    background: #FFFFFF; 
    overflow: hidden;
    padding: 10px;
}

.neopanelcollapsed .neopanelcontent { display: none; }
.neooptionpanelcollapsed .neopanelcontent { display: none; }

#flotTip{
    padding: 3px 5px;
    background-color: #000;
    z-index: 100;
    color: #fff;
    box-shadow: 0 0 10px #555;
    opacity: .7;
    filter: alpha(opacity=70);
    border: 2px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.optPnlLst-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 50;
}

.optPnlLst-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.optPnlLst-content a:hover {background-color: #aaffaa}

.optPnlLst_dropdown:hover .optPnlLst-content {
    display: block;
    z-index: 51;
}