/* 
    Document   : styles
    Created on : 2009/09/28, 12:01:53
    Author     : LeslieJj
    Description:
        Purpose of the stylesheet follows.
*/
*
{
    font-size: 100.01%;

}

html
{
    font-size: 62.5%;
}

body {
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 73.33%;
}

.menuItem {
    border-width:1px;
    border-style:solid;
    border-color:#0177C1;
    background-color:#0177C1;
    color:white;
}

input {
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 97%;
}

input[type='checkbox'] {
    width: 250px;
    margin-left:3%;
    padding: 3px;
}

input[type='text'],input[type='email'] ,input[type='password'] ,input[type='file']
 {
    width: 350px;
    margin-left:3%;
    padding: 3px;
}

div button[name='opperation']  {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

#historyActivitiesTable td.hover, #historyActivitiesTable table tbody tr:hover
{
    background-color: #e5ffff;
    color: #252525;
    
}
#historyActivitiesTable td.betterhover, #historyActivitiesTable table tbody tr:hover
{
    background: #C1DCED;
    color: #252525;
}


fieldset select {
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 97%;
    width: 260px;
    margin-left:3%;
    padding: 3px;
}


button {
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 97%;
}

table {
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 97%;
    width: 60%;
}


/* TABLE SORTER */
table.tablesorter {
    width: 100%;
    text-align: left;
}

h1,h2,h3 {
    color:#EF4047;
    font-size:99%;
}


table.tablesorter thead tr th, table.tablesorter tfoot tr th {

    border-width:1px;
    border-style:solid;
    border-color:#0177C1;
    background-color:#0177C1;
    color:white;

}

table.tablesorter thead tr .header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    color:#FFF;
}

.centerText {
    text-align: center;
}

.rightText {
    text-align: right;
}
.leftText {
    text-align: left;
}

table.tablesorter tbody td {
    border-width:1px;
    border-style:solid;
    border-color:#0177C1;
    padding:3px;
}
table.tablesorter tbody tr.odd td {
    background-color:#e6EEEE;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {

}

.noborder {

    border-bottom: 0px none #FFFFFF;
}

.leftMenu {
    background-image:url('/GreenCrescent/resources/leftMenuGradient.png');
    background-repeat: repeat-x;
    width:95%;
    height:90%;
}

fieldset {
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 20px;

    padding-top: 0px;
    padding-bottom: 25px;
    padding-right: 50px;
}

legend {
    /*
        color: #fff;
    */
    background: #FFFFFF;
    border: 1px solid #EF3F47;
    padding: 0px 16px 0px 16px;
    margin-left: 16px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 97%;
}

p {
    color: #666666;
    text-decoration: none;
}

label {
    color: #666666;
    text-decoration: none;
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left:3%;
    font-size : 97%;
}

.inlineLabel {
    text-decoration: none;
    display: inline;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left:3%;
    font-size : 97%;
}

.red {
    color: red;

}

.error {
    color: red;

}

.success {
    color: green;

}

.list td{
    border-width:1px;
    border-style:solid;
    border-color:#0177C1;
    padding:3px;
}

.list th{
    border-width:1px;
    border-style:solid;
    border-color:#0177C1;
    background-color:#0177C1;
    color:white;
    padding:3px;
}


#mainContainer{
    width:660px;
    margin:0 auto;
    text-align:left;
    height:100%;
    background-color:#FFF;
    border-left:3px double #000;
    border-right:3px double #000;
}

#formContent{
    padding:5px;
}
/* END CSS ONLY NEEDED IN DEMO */


/* Big box with list of options */

form{
    display:inline;
}

/* Big box with list of options */
#ajax_listOfOptions{
    position:absolute;	/* Never change this one */
    width:250px;	/* Width of box */
    height:250px;	/* Height of box */
    overflow:auto;	/* Scrolling features */
    border:1px solid #317082;	/* Dark green border */
    background-color:#FFF;	/* White background color */
    text-align:left;
    font-size:0.9em;
    z-index:100;
}
#ajax_listOfOptions div{	/* General rule for both .optionDiv and .optionDivSelected */
                         margin:1px;
                         padding:1px;
                         cursor:pointer;
                         font-size:0.9em;
}
#ajax_listOfOptions .optionDiv{	/* Div for each item in list */

}
#ajax_listOfOptions .optionDivSelected{ /* Selected item in the list */
                                        background-color:#0177C1;
                                        color:#FFF;
}
#ajax_listOfOptions_iframe{
    background-color:#F00;
    position:absolute;
    z-index:5;
}

.ui-multiselect { height: 35px;  margin-left:3%;padding:2px 0 2px 4px; text-align:left }


.ui-multiselect-checkboxes input {  
    margin-left:3%;
    outline: 0;
    padding: 3px; }

.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input {outline: 0;margin-left:10px;  position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label {outline: 0;padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { outline: 0; font-size:0.9em }
.ui-multiselect-header ul li { outline: 0; float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000 }
.ui-multiselect-checkboxes { outline: 0;width: 100%; float:left;  position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label {  cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input {outline: 0; position:relative; top:1px }
.ui-multiselect-checkboxes label input span { outline: 0;min-width: 500px;width: 500px;min-width: 500px }
.ui-multiselect-checkboxes label input[type='checkbox']  { outline: 0;width: 50px; }


.ui-multiselect-checkboxes li {outline: 0;  clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { outline: 0;text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { outline: 0;display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label {outline: 0; border:none }

/* MULTI SELECT FILTER */
.ui-multiselect-hasfilter ul { position:relative; top:2px }
.ui-multiselect-filter { float:left; margin-right:10px; font-size:11px }
.ui-multiselect-filter input { width:100px; font-size:10px; margin-left:5px; height:15px; padding:2px; border:1px solid #292929; -webkit-appearance:textfield; -webkit-box-sizing:content-box; }


